<%page expression_filter="h" />
<%namespace name="lib" file="//lib.html" import="*"/>
<%inherit file="//layout/base.html" />

<%def name="css()">
    <%coreCSSFiles = [
        "/static/css/view.css", 
        "/static/css/skins/default/default.css"
    ] %>
    <%lib:stylesheet_tags files="${coreCSSFiles}" />
</%def>

<%def name="custom_css()">
  <%lib:stylesheet_tags files="${['/static/app/%s/backfill_select.css' % app]}" /> 
</%def>

<div class="BackfillMessage">

  <h2>Backfill: Failure</h2>
  <p>An unexpected failure occured when attempting to submit your backfill jobs.</p>
  <div class="ConfirmButtons">
    <a class="splButton-secondary" target="_parent" href="${make_url(['app', app, 'backfill_add'])}">Go Back</a>
  </div>

</div>


